/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: #454545;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}



body {
    background-color: #ffffff;
}

main {
    margin: 20px 20px 0px 20px;
}

.store-name {
    color: #913175;
    font-style: italic;
    font-weight: bold;
    font-size: 3.25em;
    padding-top: 20px;
    font-family: "Arizonia", cursive;
}

.headerbutton  {
    display: flex;
    flex-direction: row;
    justify-content: auto; 
    padding: 0.5rem;
    border-style: none;
    height: 40px;
    width: 40px;
}

.header-nav {
    color: #454545;
    text-decoration: none;
    font-size: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.5rem;
    transform: translateX(-1em);
}

.header-nav > li {
    padding-left: 5rem;
}

nav li {
    background-color: #ffffff;
    padding: 5px;
}

nav ul ul {
    transform: scale(1,0);
    transform-origin: top center;
    position: absolute;
    top: 100%;
    transition: 0.3s;
}

nav li:hover ul{
    transform: scale(1,1);
    transition: 0.3s;
}

footer {
    background-color: #454545;
    color: #ffffff;
    padding: 1em 1em 1em 1em;
    margin-top: 2em;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    font-size: 1.25em;
    display: flex;
    flex-direction: row;
}

footer ul + ul {
    margin-left: auto;
}

footer li + li {
    margin-top: 1em;
}

.icons-homepage {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}

.icons-homepage > li {
    margin: 0.5em;
}

.top-of-page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.top-of-page > h5 {
    align-items: flex-end;
}

.product-name {
    color: #913175;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 46px;
    flex-basis: 75%;
}

.side-note {
    color: #454545;
    font-family: Helvetica, sans-serif;
    font-size: 30px;
    margin: 0.7em;
}

.view {
    border-radius: 10px;
    background-color: #ffffff;
    color: #454545;
    font-family: Helvetica, sans-serif;
    font-size: 1em;
    padding: 3px 3px 3px 3px;
    width: 250px;
    border: 1px solid #454545;
}

.add {
    border-radius: 10px;
    background-color: #913175;
    color: #ffffff;
    font-family: Helvetica, sans-serif;
    font-size: 1em;
    padding: 3px 3px 3px 3px;
    width: 250px;
    border: none;
}

.cluster{
    padding-left: 3.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-basis: 25%;
}

.cluster > * {
    margin-top: 3em;
}

.stack{
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    flex-basis: 25%;
}

.cluster--end-aligned{
    align-items: flex-end;
}

.listing-container img {
    width: 250px;
    height: 250px;
    border: 1px solid #454545;
    object-fit: contain;
    align-items: center;
}

.listing-container > *{
    margin-top: 0.5em;
}

.product-name-on-list {
    font-family: Helvetica, sans-serif;
    font-size: 1.3em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 250px;
    align-items: center;
}

.price-on-list {
    font-family: Helvetica, sans-serif;
    font-size: 1.3em;
}

.listing .listing-container a:visited {
    color: #454545;
}

.heading-all {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.heading-all .store-name {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 1em;
}

.heading-all .icons-homepage {
    margin-top: 1.25em;
}

nav {
    border-top: 1px solid #454545;
    border-bottom: 1px solid #454545;
}

.dropdown {
    border: 1px solid #454545;
    box-shadow: 0.2em 0.5em 0.5em #454545;
}