/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: #D99CFD;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}



body {
    background-color: #ffffff;
}

main {
    margin: 20px 20px 0px 20px;
}

.store-name {
    color: #d4af37;
    font-style: italic;
    font-weight: bold;
    font-size: 3.25em;
    display: flex;
    justify-content: center; 
    padding-top: 20px;
}

.headerbutton  {
    display: flex;
    flex-direction: row;
    justify-content: auto; 
    padding: 0.5rem;
    border-style: none;
    height: 40px;
    width: 40px;
}

.header-nav {
    color: #D99CFD;
    text-decoration: none;
    font-size: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.5rem;
}

.header-nav > li {
    padding: 1rem;
}

.shop-homepage {
    color: #D4AF37;
}

.information {
    color: #000000;
    font-family: "Helvetica", sans-serif;
    background-image: linear-gradient(#d4af37, #FDF5DB);
    border-radius: 10px;
    padding: 22px 160px 22px 160px;
    font-size: 1.6em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.information > * {
    padding: 10px;
}

h3.shop-homepage {
    font-family: "Helvetica", sans-serif;
    padding-top: 60px;
    font-size: 2.5em;
}

h1.welcome {
    color: #ffffff;
    font-family: "Baskerville", serif; 
    font-weight: bold;
    font-size: 1.667em;
}

h3.slogan {
    color: #ffffff;
    font-family: "Helvetica", sans-serif;
    font-size: 1.333em;
}

footer {
    background-color: #733795;
    color: #ffffff;
    padding: 20px 20px 20px 20px;
    margin-top: 60px;
    font-weight: bold;
    font-family: "Helvetica", sans-serif;
    font-size: 2.25em;
    display: flex;
    flex-direction: row;
}

footer ul + ul {
    margin-left: auto;
}

.category-name {
    background-image: linear-gradient(#D4AF37, #FDF5DB);
    border-radius: 20px;
    border: #ffffff;
    font-family: "Helvetica", sans-serif;
    font-weight: bold;
    font-size: 2.25em;
    padding: 12px 1.5em 12px 1.5em; 
    width: 350px;
    color: #ffffff;
}

footer li + li {
    margin-top: 36px;
}

.cluster {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.cluster > * {
    margin: 1em;
}

.stack{
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

.cluster--end-aligned{
    align-items: flex-end;
}

.category-image {
    width: 350px;
}

.icons-homepage {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}

.icons-homepage > li {
    margin: 0.5em;
}
